body {
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}
header{
    width: 120px;
    height: 48px;
    margin: 40px 0px 30px 84px;
}
main{
    width: 100%;
    height: 100%;
}
#adivinar-palabra{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 50%;
    left: 25%;
    align-items: center;
    justify-content: center;
}
.boton-azul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 20%;
    height: 17%;
    left: 40%;
    top: 55%;

    background: #0A3871;
    border-radius: 24px;

    /*button text*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.boton-azul:hover{
    background: #072B61
}
.boton-blanco{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    position: absolute;
    width: 20%;
    height: 10%;
    left: 40%;
    top: 75%;

    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;

    /*text*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.boton-blanco:hover{
    background: #EFF1FA;
}
#nuevo-juego, #desistir{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 10%;
    top: 75%;
}
#nuevo-juego{
    left: 20%;
}
#desistir{
    left: 55%;
}
footer{
    background: #0A3871;
    color: #EFF1FA;
    text-align: center;
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    margin:0px;
}
footer a{
    color: #EFF1FA;
}
.invisible{
    display: none;
}
.recuadro-letra{
    resize: none;
    width: 30px;
    height: 35px;
    background: none;
    margin-left: 10px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom-width: 5px;
    border-bottom-color: #0A3871;

    /*text*/
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
