html {
    overflow: auto;
}
body {
    height:auto;
    overflow: auto;
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}
header{
    width: 120px;
    height: 48px;
    margin: 40px 0px 30px 84px;
}
main{
    width: 100%;
    height: 100%;
}
#timer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    right: 10px;
    color: #0A3871;

}
#horca{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 600px;
    margin: auto;
    height: 400px;
    background: none;
}
#adivinar-palabra{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 55%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
#letras-erradas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 65%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.boton-azul{
    display: block;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 20%;
    height: 17%;
    left: 40%;
    top: 55%;

    background: #0A3871;
    border-radius: 24px;

    /*button text*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.boton-azul:hover{
    background: #072B61
}
.boton-blanco{
    display: block;
    padding: 24px;
    gap: 8px;
    
    position: absolute;
    width: 20%;
    height: 10%;
    left: 40%;
    top: 75%;

    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;

    /*text*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.boton-blanco:hover{
    background: #EFF1FA;
}
#nuevo-juego, #desistir{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 10%;
    top: 75%;
}
#nuevo-juego{
    left: 20%;
}
#desistir{
    left: 55%;
}
footer{
    background: #0A3871;
    color: #EFF1FA;
    text-align: center;
    position: fixed;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    margin:0px;
}
footer a{
    color: #EFF1FA;
}
.invisible{
    display: none;
}
.recuadro-letra{
    resize: none;
    width: 30px;
    height: 35px;
    background: none;
    margin-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom-width: 5px;
    border-bottom-color: #0A3871;

    /*text*/
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.letra-errada{
    resize: none;
    width: 30px;
    height: 35px;
    background: none;
    margin-left: 10px;
    outline: none;
    border: none;

    /*text*/
    color: red;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.palabra-adivinada{
    transition: 500ms;
    color: green;
    font-size: 28px;
}
#guardar, #cancelar{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 10%;
    top: 75%;
}
#guardar{
    left: 20%;
}
#cancelar{
    left: 55%;
}
#input-palabra{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    background: none;
    width: 30%;
    margin: auto;
    height: 400px;
    resize: none;
    outline: none;
    border: none;
    padding: 24px;
    border-radius: 32px;

    /*text*/
    color:#0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

}
@media screen and (max-width:480px){

header{
    margin: 20px auto 20px 20px;
}

.boton-azul, .boton-blanco{
    margin: auto;
}
.boton-azul{
    width: 80%;
    left: 10%;
    top: 40%;
}
.boton-blanco{
    width: 70%;
    top: 60%;
    left: 15%;
}
#nuevo-juego, #desistir, #guardar, #cancelar{
    display: block;
    width: 90%;
    left: 5%;
}
#nuevo-juego,  #guardar{
    top: 72%;
}
#desistir, #cancelar{
    top: 83%;
}
#horca{
    position: absolute;
    width: 80%;
    height: auto;
    top: 25%;
    left: 15%;

}
#adivinar-palabra{
    width: 100%;
    left: unset;
    margin: auto;
}
.recuadro-letra{
    width: 20px;
    font-size: 20px;
    
}
.palabra-adivinada{
    font-size: 24px;
}
#letras-erradas{
    width: 100%;
    left: unset;
    margin: auto;
}

.letra-errada{
    width: 20px;
    font-size: 20px;
}
#input-palabra{
    width: 80%;
    height: 325px;
}
#verificar{
    display: inline-block;
    flex-direction: row;
    position: absolute;
    text-align: center;
    width: 30%;
    height: 50px;
    margin: auto 0 auto 0;
    top: 13%;
    left: 65%;
    font-size: 18px;
    padding: 10px;
}
#entrada{
    display: inline-block;
    flex-direction: row;
    position: absolute;
    text-align: center;
    width: 20%;
    height: auto;
    margin: auto 0 auto 0;
    top: 13%;
    left: 5%;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 32px;

    /*text*/
    color:#0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

}
}
@media screen and (min-device-width: 481px) and (max-device-width: 821px) { 

    header{
        margin: 20px auto 20px 20px;
    }
    
    .boton-azul, .boton-blanco{
        margin: auto;
    }
    .boton-azul{
        width: 80%;
        left: 10%;
        top: 40%;
    }
    .boton-blanco{
        width: 70%;
        top: 60%;
        left: 15%;
    }
    #nuevo-juego, #desistir, #guardar, #cancelar{
        width: 40%;
    }
    #nuevo-juego, #guardar{
        left: 5%;
        top: 80%;
        height: 100px;
    }
    #desistir, #cancelar{
        left: 55%;
        top: 80%;
        height: 100px;
    }
    #horca{
        position: absolute;
        width: 70%;
        height: auto;
        top: 25%;
        left: 15%;
    
    }
    #adivinar-palabra{
        width: 100%;
        left: unset;
        top: 65%;
        margin: auto;
    }
   
    #letras-erradas{
        width: 100%;
        left: unset;
        margin: auto;
        top: 72%;
    }
    #dibujo{
        height: auto;
    }
    
    #input-palabra{
        width: 80%;
    }
    #verificar{
        display: inline-block;
        flex-direction: row;
        position: absolute;
        text-align: center;
        width: 30%;
        height: 50px;
        margin: auto 0 auto 0;
        top: 13%;
        left: 65%;
        font-size: 18px;
        padding: 10px;
    }
    #entrada{
        display: inline-block;
        flex-direction: row;
        position: absolute;
        text-align: center;
        width: 20%;
        height: auto;
        margin: auto 0 auto 0;
        top: 13%;
        left: 5%;
        font-size: 18px;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 32px;
    
        /*text*/
        color:#0A3871;
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    
    }
    }
    @media screen and (min-device-width: 821px) and (max-device-width: 1368px) { 

        header{
            margin: 20px auto 20px 20px;
        }
        
        .boton-azul, .boton-blanco{
            margin: auto;
        }
        .boton-azul{
            width: 40%;
            left: 30%;
            top: 40%;
        }
        .boton-blanco{
            width: 36%;
            top: 60%;
            left: 32%;
        }
        #nuevo-juego, #desistir, #guardar, #cancelar{
            width: 30%;
        }
        #nuevo-juego, #guardar{
            left: 15%;
            top: 80%;
            height: 70px;
        }
        #desistir, #cancelar{
            left: 55%;
            top: 80%;
            height: 70px;
        }
        #horca{
            position: absolute;
            width: auto;
            height: 40%;
            top: 25%;
            left: 30%
        
        }
        #adivinar-palabra{
            width: 100%;
            left: unset;
            top: 65%;
            margin: auto;
        }
       
        #letras-erradas{
            width: 100%;
            left: unset;
            margin: auto;
            top: 72%;
        }
        #dibujo{
            height: auto;
        }
        
        #input-palabra{
            width: 80%;
        }
        #verificar{
            display: inline-block;
            flex-direction: row;
            position: absolute;
            text-align: center;
            width: 30%;
            height: 50px;
            margin: auto 0 auto 0;
            top: 13%;
            left: 65%;
            font-size: 18px;
            padding: 10px;
        }
        #entrada{
            display: inline-block;
            flex-direction: row;
            position: absolute;
            text-align: center;
            width: 20%;
            height: auto;
            margin: auto 0 auto 0;
            top: 13%;
            left: 5%;
            font-size: 18px;
            padding: 10px;
            outline: none;
            border: none;
            border-radius: 32px;
        
            /*text*/
            color:#0A3871;
            font-family: 'Inter';
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
        
        }
        }